div{
    margin: 50px;
    border: 2px solid #ccc;
    padding: 20px 20px 40px 20px;
    position: relative;
}

span{
    background-color: #e7e7e7;
    border: 2px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 120px;
    left: 500px;
}